@model Wiki2.Models.Article
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
<dl>
    
    <dd>
        @Html.DisplayFor(model => model.Title)
    </dd>

   
    <dd>
        @Html.DisplayFor(model => model.Category)
    </dd>

    <
    <dd>
        @Html.DisplayFor(model => model.Text)
    </dd>
</dl>

@using (Html.BeginForm())
{
    <input type="submit" value="Удалить" />
}


НазадСодержаниеВперед




